html {
    max-width: 1600px;
    margin: 0 auto;
    background: black;
    position: relative;
}

body {
    font-family: "droid sans", sans-serif;
    background: #222222;
    color: #2D3034;
    font-size: 2em;
    text-align: center;
}

.well {
    background-color: rgba(175, 182, 192, .65);
    color: black;
    border: none;
    border-radius: 3%;
}
