html {
    /* max-width: 1600px; */
    margin: 0 auto;
    background: #E5E9EC;
    position: relative;
    width: 100%;
}

body {
    font-family: "droid sans", sans-serif;
    background: #E5E9EC;
    color: #222;
    font-size: 2em;
    text-align: center;
}

.well {
    background-color: #E5E9EC;
    color: #222;
    border: none;
    border-radius: 3%;
}
