html {
    max-width: 1600px;
    margin: 0 auto;
    background: #E5E9EC;
    position: relative;
    width: 100%;
}
body {
    font-family: "droid sans", sans-serif;
    background: #E5E9EC;
    color: #0C0C0C;
    font-size: 2em;
    text-align: center;
}
.well {
    background-color: #FFF;
    color: #0C0C0C;
    border: none;
}
.content {
    padding-bottom: 65px !important;
}
.footer {
    display: block;
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    height: 60px;
    font-size: 0.9em;
    float: clear;
}
.foot {
    padding-bottom: 10px;
}
.foot a {
    text-decoration: none;
    color: #B1ADBB;
}
.foot a:hover {
    color: #0C0C0C;
}
.license-text {
    display: inline-block;
    font-size: 0.75em;
    color: #B1ADBB;
    margin-left: 1em;
}
