.navbar {
    background-color: #1c1c1c;
    border: none;
    margin-bottom: 5px;
    font-size: 17px;
}

.navbar .navbar-brand {
    color: #a5aaae;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #ffffff;
}

.navbar .navbar-text {
    color: #a5aaae;
}

.navbar .navbar-nav> li> a {
    color: #a5aaae;
}

.navbar .navbar-nav> li> a:hover, .navbar .navbar-nav> li> a:focus {
    color: #ffffff;
    background-color: #346E91;
}

.navbar .navbar-nav> li> .dropdown-menu {
    background-color: #1c1c1c;
}

.navbar .navbar-nav> li> .dropdown-menu> li> a {
    color: #a5aaae;
}

.navbar .navbar-nav> li> .dropdown-menu> li> a:hover, .navbar .navbar-nav> li> .dropdown-menu> li> a:focus {
    color: #ffffff;
    background-color: #346E91;
}

.navbar .navbar-nav> li> .dropdown-menu> li> .divider {
    background-color: #346E91;
}

.navbar .navbar-nav .open .dropdown-menu> .active> a, .navbar .navbar-nav .open .dropdown-menu> .active> a:hover, .navbar .navbar-nav .open .dropdown-menu> .active> a:focus {
    color: #ffffff;
    background-color: #346E91;
}

.navbar .navbar-nav> .active> a, .navbar .navbar-nav> .active> a:hover, .navbar .navbar-nav> .active> a:focus {
    color: #ffffff;
    background-color: #346E91;
}

.navbar .navbar-nav> .open> a, .navbar .navbar-nav> .open> a:hover, .navbar .navbar-nav> .open> a:focus {
    color: #ffffff;
    background-color: #346E91;
}

.navbar .navbar-toggle {
    border: none;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #346E91;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #a5aaae;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #a5aaae;
}

.navbar .navbar-link {
    color: #a5aaae;
}

.navbar .navbar-link:hover {
    color: #ffffff;
}

.navbar-right {
    margin-right: 5.6vw;
}

#brand {
    margin-left: 5.59vw !important;
}

.navbar-brand img, .navbar-brand span {
    display: inline-block;
}

.navbar-brand span {
    margin-left: 0.5em;
}

.navbar-brand img {
    max-width: 1.6em;
    margin-top: -0.2em;
}

.navbar-nav> li> .active {
    background-color: #346E91;
    color: #ffffff !important;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu> li> a {
        color: #a5aaae;
    }
    .navbar .navbar-nav .open .dropdown-menu> li> a:hover, .navbar .navbar-nav .open .dropdown-menu> li> a:focus {
        color: #ffffff;
    }
    .navbar .navbar-nav .open .dropdown-menu> .active> a, .navbar .navbar-nav .open .dropdown-menu> .active> a:hover, .navbar .navbar-nav .open .dropdown-menu> .active> a:focus {
        color: #ffffff;
        background-color: #346E91;
    }
}
